.bodyHeader{
    text-align: center;
       /*Can be any text*/
    
    // font-weight: 300;
    font-size: 36px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.body {
    font-size: 18px;
    // font-family: "lovelyFont";
}
.center {
    // background-color: #263040;
    // display: flex;
    text-align: center;
    // width: 25%;
    margin: auto;
    width: auto;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    @media only screen and (min-width: 900px){
        max-width: 40%;
    }  
}

.logo {
    text-align: center;
    margin: auto;
}

.submitButton {
   
        width: 100%;
        padding: 15px 10px 13px;
        // display: inline;
        background-color: #ACE3FF;
        background: #ACE3FF;
        font-size: 12px;
        font-family: "FuturaBold";
}

.consent {
    text-align: left;
}

.AntForm {
    margin: 5%;
    width: "50%";
}

.jonas {
    @media only screen and (min-width: 900px){
        
    }

    div[class*="ant-form-item-label"]{
        min-width: 100px;
    }
    
}

@font-face {
	font-family: 'FuturaBold';
	src: url('../../assets/fonts/FuturaStd-Bold.otf'); 
	src: 
		local('Futura Bold'),
		local('Futura Bold'),
		url('../../assets/fonts/FuturaStd-Bold.otf') 
		format('opentype');
}
// .input {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// a.button {
// -webkit-appearance: button;
// -moz-appearance: button;
// appearance: button;

// padding: 15px 3rem 13px;
//     display: inline-block;
//     font-family: 'futura-pt-bold',sans-serif;
//     letter-spacing: 1px;
//     border: 1px solid #7bd1ff;
//     background: #a1deff;
//     text-transform: uppercase;
//     cursor: pointer;
//     border-radius: 2px;
// }
// .imgtest {
//     width: 185px;
//     height: 185px;
// }