.input{
    // display: inline-block;
    // height: 44px;
    // padding: 15px;
    // display: block;
    width: 80%;
}
.label{
    // font-family:'Source Sans Pro', sans-serif;
    // font-weight: 400;
    // font-size: 18px;
    // line-height: 30px;
    float: left;
    // width: 20%;
}
.signupLabel {
    align-content: center;
    float:left;
    margin-right:20px;
    width: fit-content;
}