body {
    background-image: url("../../assets/tmp/eCom-background-a.jpg");
    font-family: "source-sans-pro-regular", "sans-serif";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bodyHeader{
    text-align: center;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 60px;
    background-color: #f7f7f5;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.center {
    text-align: center;
    width: 25%;
    margin: auto;
    width: auto;
    height: 500px; 
}
.logo {
    text-align: center;
    margin: auto;
    background-color: white;
    }
.submitButton{
    padding: 15px 3rem 13px;
    display: inline-block;
    font-family: 'futura-pt-bold',sans-serif;
    letter-spacing: 1px;
    border: 1px solid #7bd1ff;
    background: #a1deff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a.button {
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;

padding: 15px 3rem 13px;
    display: inline-block;
    font-family: 'futura-pt-bold',sans-serif;
    letter-spacing: 1px;
    border: 1px solid #7bd1ff;
    background: #a1deff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
}
.imgtest {
    width: 185px;
    height: 185px;
}